* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90vw;
    margin: auto;
    max-width: 1200px;
}

.content {
    margin: 24px auto;
}

header {
    background-color: gray;
    padding: 4px;
}

.logo {
    color: blue;
}